<div class="sidebar">

  <div class="logo">
    <h2>EMS</h2>
    <span>Employee Management</span>
  </div>

  <nav>

    <a routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </a>

    <a routerLink="/employees">
      <mat-icon>people</mat-icon>
      Employees
    </a>

    <a routerLink="/departments">
      <mat-icon>business</mat-icon>
      Departments
    </a>

    <a routerLink="/attendance/mark">
      <mat-icon>event_available</mat-icon>
      Attendance
    </a>

    <a routerLink="/leaves">
      <mat-icon>event_note</mat-icon>
      Leave Management
    </a>

    <a routerLink="/salary">
      <mat-icon>payments</mat-icon>
      Salary
    </a>

  </nav>

</div>