<header class="header">

  <div class="header-left">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <h2>Employee Management System</h2>
  </div>

  <div class="header-right">

    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>

    <div class="profile">
      <div class="avatar">
        A
      </div>

      <div class="profile-info">
        <strong>Admin</strong>
        <span>Administrator</span>
      </div>

      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>

  </div>

</header>